
{% extends "base.html" %}{% block contents %}

<div class="col-12">
<div class="row mt-5">
		<thead class="thead-light">
		<table class="table table-light">
				<th>#</th>
				<tr>
					<th>토르</th>
					<th>ip</th>
                    <th>나라</th>
					<th>p/t</th>
                    <th>경도,위도</th>
                    <th>지역</th>
				</thead>
				</tr>
			<tr>
			<tbody class="text-dark">
					<td>125.138.211.193</td>
					<th>1</th>
                    <td>peer</td>
                    <td>False</td>
                    <td>Cheonan</td>
                    <td>KR</td>
				</tr>
                    <td>36.7916,127.1192</td>
			</table>
			</tbody>
	
	</div>
</div>
{% endblock %}
