{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
	<div class="col-12">
		<table class="table table-light">
			<thead class="thead-light">
				<tr>
					<th>a</th>
					<th>b</th>
					<th>c</th>
                    <th>d</th>
                    <th>e</th>
                    <th>f</th>
                    <th>g</th>
				</tr>
			</thead>
			<tbody class="text-dark">
				{% for traffic in traffics %}
				<tr>
					{% for index in traffic %}
					<td>{{index}}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}